@import "../../lib/style/base";

:host {
	position: relative;
}

#logo-wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;

	#logo {
		margin: 0 8px 0 0;
		height: 40px;
		transform: rotate(0deg);
		transform-origin: center center;
		transition: transform 1s #{$transition-deceleration-curve};
	}

	#text {
		height: 20px;
	}

	&:hover {
		#logo {
			$deg: 360 * -10;
			transform: rotate(#{$deg}deg);
		}
	}
}

#popover-button {
	@include color-variables("primary", $palette-grey);
	display: none;
}

@media #{$screen-s-and-down} {
	#popover-button {
		display: inline-flex;
	}
}

#theme-selector {
	background: #{color("primary")};
	border-radius: 100%;
	cursor: pointer;
	width: #{size(40)};
	height: #{size(40)};
}

