@import "../../../lib/style/base";

:host {
	background: #{$background};
	padding: #{size(70)} #{size(50)};
	margin: #{$spacing-m} 0 #{$spacing-l};
	text-align: center;
}

:host([default]) {
	background: #{color("shade", 200)};
}

@media #{$screen-s-and-down} {
	:host {
		padding: #{size(25)} #{size(20)};
	}
}
