@import "../../../lib/style/base";

:host {
	padding: var(--container-padding, #{size(100)} #{$spacing-m});
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	max-width: var(--container-max-width, #{size(1000)});
	margin: 0 auto;
}

