@import "../../../lib/style/base";

:host {
	display: flex;
	height: calc(100vh - var(--nav-height));
}

#popover {
	overflow-y: auto;
	flex-shrink: 0;
	border-right: #{size(1)} solid #{color("shade", $light-hue)};
	background: #{$background};
}

#router {
	padding: #{size(25)} #{size(50)};
	flex-grow: 1;
	--webkit-overflow-scrolling: touch;
	overflow-y: overlay;
}

.popover-item {
	padding: #{$spacing-m};
	cursor: pointer;
	display: flex;
	align-items: center;

	.img {
		margin: 0 #{$spacing-m} 0 0;
	}

	&[active] {
		background: #{color("shade", 200)};
	}
}

@media #{$screen-s-and-down} {
	#router {
		padding: #{$spacing-m};
	}

	#popover {
		position: fixed;
		z-index: 12345;
		bottom: 0;
		top: var(--nav-height);
		transform: translateX(-100%);
	}

	#popover, #router {
		transition: transform #{$transition-duration-medium} #{$transition-deceleration-curve};
	}

	:host([popover-visible]) {

		#popover {
			transform: translateX(0);
		}

		#router {
			transform: scale(0.9);
			opacity: 0.3;
			pointer-events: none;
		}
	}
}

