@import "../../lib/style/base";

:host {
	display: flex;
	height: calc(100vh - var(--nav-height));
}

#menu {
	overflow-y: auto;
	flex-shrink: 0;
	border-right: #{size(1)} solid #{color("shade", $light-hue)};
}

#router {
	padding: #{size(25)} #{size(50)};
	flex-grow: 1;
	@include scroll-y();
}

.menu-item {
	padding: #{$spacing-m};
	cursor: pointer;
	display: flex;
	align-items: center;

	.img {
		margin: 0 #{$spacing-m} 0 0;
	}

	&[active] {
		background: #{color("shade", 200)};
	}
}