@import "../lib/style/base";

//:focus:focus-within {
//	outline: 2px solid blue;
//}

html {
	font-family: var(--font-family-serif, 'Roboto Slab', serif);

	color: #{$foreground};
	background: #{$background};
	overflow-x: hidden;

	&.theme-red {
		@include theme-variables((
			"primary": $palette-red
		), $validate: false);
	}

	&:not(.initialized) {
		display: none;
	}
}

body {
	margin: 0;
	overflow: hidden overlay;
	--webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-sans-serif, 'Roboto Condensed', sans-serif)
}

section {
	margin: 50px auto;
	max-width: 450px;
}

#navbar {

}

#router {
	padding-top: var(--nav-height);
}

#router, #router-slot {
	height: 100%;
}

#navbar {
	flex-shrink: 0;
}

#app {
	--nav-height: #{size(60)};
}

