@import "../lib/style/base";

//:focus:focus-within {
//	outline: 2px solid blue;
//}

html {
	font-family: $font-family-serif;
	color: $foreground;
	background: $background;
	overflow-x: hidden;
	overflow-y: overlay;
	--webkit-overflow-scrolling: touch;
	font-display: swap;

	&.theme-red {
		@include theme-variables((
			"primary": $palette-red
		), $validate: false);
	}
}

body {
	margin: 0;
}

#navbar {

}

#router {
	padding-top: var(--nav-height);
}

#router, #router-slot {
	height: 100%;
}

#navbar {
	flex-shrink: 0;
}

#app {
	--nav-height: #{size(60)};
}

